extends layout

block content
  // We only expect one message so this is okay to do without a for loop.
  if hasMessages
    - for (var i = 0; i < messages.length; i++) {
      div.alert(class='#{messages[i].type}')
        ul
            li #{messages[i].message}
    - }

  // Head
  .featurette.header
    .header-blurb
      .container
        .row
          h2 1 click for your professional twitch stream
        // Signup form
        .row
          .form-signup
            form.form-inline(role="form", action="https://madmimi.com/signups/subscribe/98558", method="post", target="_blank")
              h4.form-signin-heading Join us in our beta. We’re launching soon!
              input.form-control(type="email", placeholder="Email address", name="signup[email]", required="", autofocus="")
              input.btn.btn-lg.btn-success(type="submit", value="Sign Up" , name="commit")
  // Features
  .features
    .featurette.feature1
      .container
        .col-md-7
          h1.featurette-heading Instant setup with OBS
          p.lead or any other broadcast program with an embedded browser (chrome/chromium or firefox)
        .col-md-5
          img.featurette-image.img-responsive.featurette-img(data-src="holder.js/500x500/auto", alt="500x500", src="/img/obs-section-bg.png")
    .featurette.feature2
      .container
        .col-md-5
          img.featurette-image.img-responsive.featurette-img(data-src="holder.js/500x500/auto", alt="500x500", src="/img/stream-with-your-friends.jpg")
        .col-md-7
          h1.featurette-heading Stream your friends
          p.lead add your friends to your stream through the browser, no setup required.
    .featurette.feature3
      .container
        .col-md-7
          h1.featurette-heading Embedded Twitch chat
          p.lead and tweets from your Twitter fans.
        .col-md-5
          img.featurette-image.img-responsive.featurette-img(data-src="holder.js/500x500/auto", alt="500x500", src="http://placehold.it/320x320")
    .featurette.feature4
      .container
        .col-md-5
          img.featurette-image.img-responsive.featurette-img(data-src="holder.js/500x500/auto", alt="500x500", src="http://placehold.it/320x320")
        .col-md-7
          h1.featurette-heading Switch from between games seamlessly
          p.lead using the web interface.
    .featurette.feature5
      .container
        .col-md-7
          h1.featurette-heading Choose from community created skins
          p.lead
        .col-md-5
          img.featurette-image.img-responsive.featurette-img(data-src="holder.js/500x500/auto", alt="500x500", src="http://placehold.it/320x320")

  //- form.form-horizontal(role="form", action="https://madmimi.com/signups/subscribe/98558", id="mad_mimi_signup_form", method="post", target="_blank")
  //-   .form-group
  //-     .required
  //-       label.form-control.col-sm-2.control-label(for="signup_email") Email
  //-       .col-sm-10
  //-         input#signup_email.required(data-invalid-email="This field is invalid", data-required-field="This field is required", name="signup[email]", placeholder="you@example.com", type="text")
  //-   .form-group
  //-     .col-sm-10
  //-       input#webform_submit_button.submit.btn.btn-default(data-choose-list="&#8593, Choose a list", data-default-text="Subscribe", data-invalid-text="&#8593; You forgot some required fields", data-submitting-text="Sending...", name="commit", type="submit", value="Subscribe")
    
  // /form

//  
  .border
    .webcam
      | <iframe width="100%" height="100%" src="https://apprtc.appspot.com/?r=79067713"></iframe>

