extends layout

block content
  // Head
  .header
    .container
      .row
        .cards
          .card#main-card(onClick="start()")
            .cardText
              h3 Let your friends join and leave your live stream with a single click.
            video#localVideo
            img#localImage(src="/img/hearthstone-click-me-no-text.png")
          #remoteVideos

  .features
    .main-feature
      .container
        .row
          h1.title Stream with your friends using Overtwit!
        .row
          form.form-inline.form-signup(role="form", action="https://madmimi.com/signups/subscribe/98558", method="post", target="_blank")
            h4.form-signup-heading Join us in our beta. We’re launching soon!
            input.form-control(type="email", placeholder="Email address", name="signup[email]", required="")
            input.btn.btn-lg.btn-success(type="submit", value="Sign Up" , name="commit")

  .features
    .feature0
      .container
        .row
          .col-md-4
            h1.featurette-heading STREAM FRIENDS
            p.lead.text-muted 
              | add your friends to your stream 
              | through the browser, no setup required.
            a.btn.btn-default(href="#",role="button") Learn more »
          .col-md-4.dividers
            h1.featurette-heading ONE CLICK
            p.lead.text-muted 
              | Instant setup with OBS or any other broadcast
              | program with an embedded browser. 
              | Add your friends to your stream through the browser, no setup required.
            a.btn.btn-default(href="#",role="button") Learn more »
          .col-md-4
            h1.featurette-heading MULTIPLE GAMES
            p.lead.text-muted Switch from between games seamlessly using the web interface.
            a.btn.btn-default(href="#",role="button") Learn more »

  script.
    var room = '#{room}';
    var autoplay = '#{autoplay}';
