doctype html
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7  
//if IE 7
  html.no-js.lt-ie9.lt-ie8  
//if IE 8
  html.no-js.lt-ie9  
// [if gt IE 8] <!
html.no-js
  // <![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='css/main.css')
    script(src='js/latest.js')
    script(src='js/vendor/modernizr-2.6.2-respond-1.1.0.min.js')
  body
    //if lt IE 7
      p.chromeframe
        | You are using an
        strong outdated
        | browser. Please
        a(href='http://browsehappy.com/') upgrade your browser
        | or
        a(href='http://www.google.com/chromeframe/?redirect=true') activate Google Chrome Frame
        | to improve your experience.
    
    .card
      video#localVideo.smallVideo
    #remoteVideos
    // /container
    script.
      var cards = [];

      var webrtc = new SimpleWebRTC({
        // the id/element dom element that will hold "our" video
        localVideoEl: 'localVideo',
        // the id/element dom element that will hold remote videos
        remoteVideosEl: 'remoteVideos',
        // immediately ask for camera access
        // disable this for signup page
        autoRequestMedia: true,
      });

      // we have to wait until it's ready
      webrtc.on('readyToCall', function () {
        // you can name it anything
        // this should be randomised for the demo site
        webrtc.joinRoom('blah'); 
      });

      // this is called before the handlePeerStreamAdded() function
      webrtc.on('peerStreamAdded', function (peer) {
      });

      // This gets called when a remote video is added - see handlePeerStreamAdded() function
      webrtc.on('videoAdded', function (video, peer) {
        $(video).addClass("smallVideo");
        $(video).parent().addClass("card");
      });

    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    // Fallback jquery
      script
        window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\\/script>')
    script(src='js/vendor/bootstrap.min.js')
    script(src='js/main.js')
    script.
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src='//www.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
