body {
  font-family: "ITC Avant Garde Gothic";
}

#localVideo {
}

#remoteVideos {
  display:inline-block;
}

#shareRoom {
  margin-top: 50px;
  text-align: center;
}

.cards {
  white-space:nowrap;
  width: 100%;
}

.card {
  display:inline-block;
  width: 370px;
  height: 526px;
  z-index: 100;
  margin: 0 5px 5px;
}

.card video {
  margin: 10px 20px 20px;
  position: absolute;
  width: 320px;
  z-index: 99;
}

.card img {
  position: relative;
  width: 100%;
  z-index: 100;
}

.card:hover {
  cursor: pointer;
  border-radius: 30px;
  -webkit-box-shadow: 0 -10px 10px 10px lime, inset 0 5px 20px 4px lime;
  -moz-box-shadow: 0 -10px 10px 10px lime, inset 0 5px 20px 4px lime;
  box-shadow: 0 -5px 20px 5px lime, inset 0 5px 20px 4px lime;
}

/* Header */
.header {
  height: 500px;
  min-width: 400px;
  background:transparent url(/img/hearthstone-bg.jpg) center center;
  background-size: cover;
  padding-top: 20px;
  text-align: center;
}

.header .title {
  text-align: center;
  font-family: "Arial Black";
  font-size: 80px;
}

/* Signup form */
.form-signup {
  width:400px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.form-signup .form-signup-heading
{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-signup .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

.form-signup input[type="email"] {
  display: inline-block;
  width:290px;
  margin-right:10px;
}

.form-signup input[type="submit"] {
  display: inline-block;
  width:100px;
}

.dividers {
  border-left: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
}

/* Features */
.features {
}
/*.feature0 {
  background-color:GhostWhite;
}
.feature1 {
  position: relative;
  background:transparent url(/img/hearthstone-bg.jpg) center center;
  background-size:cover;
  color:white;
  text-shadow: 2px 2px black;
}*/
.feature2 {
  margin-top: 30px;
  background-color: Silver;
}
.feature3 {
  background:transparent url(/img/tf2-bg.jpg) center center;
  background-size:cover;
  color:white;
  text-shadow: 2px 2px black;
}
.feature4 {
  background-color: GhostWhite;
}
.feature5 {
  background:transparent url(/img/dota2-bg.jpg) center center;
  background-size:cover;
  color:white;
  text-shadow: 2px 2px black;
}
.feature6 {
}
.feature7 {
  background:transparent url(/img/starcraft-2-desat.jpg) center center;
  background-size:cover;
  color:white;
  text-shadow: 2px 2px black;
}

.featurette {
  padding-top: 60px;
  padding-bottom: 60px;
  height: auto;
}

.featurette-img {
  max-height: 320px;
}

.featurette-divider {
  margin: 20px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 200;
  line-height: 1;
}

/*@media (max-width: 768px) { 
  .form-signup {
    margin: 0 auto;
    min-width: 380px;
  }
  .form-signup-heading
  {
    margin-bottom: 10px;
  }

  .form-signup .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
  }
  .form-signup .form-control:focus {
    z-index: 2;
  }
  .form-signup input[type="email"] {
    width: 270px;
    margin-right:10px;
  }
  .form-signup input[type="submit"] {
    width:100px;
  }
}*/

@media (max-width: 988px) {

  .dividers {
    border-left: 0px solid #e3e3e3;
    border-right: 0px solid #e3e3e3;
  }

}