/* Header */
.header {
  height: 500px;
  min-width: 400px;
  background:transparent url(/img/hearthstone-bg.jpg) center center;
  background-size: cover;
  padding-top: 20px;
  text-align: center;
}
/* End of header */

body {
  font-family: "ITC Avant Garde Gothic";
}

.cards {
  /*white-space:nowrap;*/
  width: 100%;
}

/* The card */
.card {
  position: relative;
  display:inline-block;
  width: 370px;
  height: 526px;
  z-index: 100;
  margin: 0 5px 5px;
}

.card video {
  margin: 10px 20px 20px;
  position: absolute;
  width: 320px;
  z-index: 99;
}

.card img {
  position: relative;
  width: 100%;
  z-index: 100;
}

.card h3 {
  font-size: 26px;
  letter-spacing: 0.8px;
  font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
}

.cardText {
  position: absolute;
  top: 345px;
  left: 50px;
  width: 270px;
  z-index: 101;
  text-align: center;
  white-space: normal;
}

.card:hover {
  cursor: pointer;
  border-radius: 30px;
  -webkit-box-shadow: 18px 18px 25px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    18px 18px 25px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         18px 18px 25px 0px rgba(50, 50, 50, 0.75);
}
/* End of card */

/* WebRTC ids */
#localVideo {
}

#remoteVideos {
  display:inline-block;
}

#shareRoom {
  margin-top: 50px;
  text-align: center;
}
/* End of webrtc */

/* Signup form */
.form-signup {
  width:400px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.form-signup .form-signup-heading
{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-signup .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

.form-signup input[type="email"] {
  display: inline-block;
  width:290px;
  margin-right:10px;
}

.form-signup input[type="submit"] {
  display: inline-block;
  width:100px;
}
/* End of signup form */

/* Features */
.features {
  padding-top: 60px;
  padding-bottom: 60px;
  height: auto;
  /*background-color: GhostWhite;*/
}

.main-feature {
  height: auto;
  /*background-size:cover;*/
  /*color:white;*/
  /*text-shadow: 2px 2px black;*/
}

.title {
  text-align: center;
  font-size: 50px;
  font-weight: 200;
}

.dividers {
  border-left: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 200;
  line-height: 1;
}


@media (max-width: 988px) {

  .dividers {
    border-left: 0px solid #e3e3e3;
    border-right: 0px solid #e3e3e3;
  }

}