body, html {
	background-color: transparent;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	height: 100%;
	margin: 0px;
    padding: 0px;
    position: relative;
}

a {
  color: #00B7FF;
}

.border {

	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border: 50px solid blue; 
	height: 100%;

}

.webcam {
	position: absolute;
	bottom: 0px;
	right: 0px;

	width: 300px;
	height: 200px;

	margin: 50px;

	/* Little hack to put webcam overhang bits behind border */
	z-index: -1;
}
