body, html {
	background-color: transparent;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	height: 100%;
	margin: 0px;
    padding: 0px;
    position: relative;
}

a {
  color: #00B7FF;
}

.border {
	position: absolute;
	bottom: 0;
	right: 0;

	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border: 20px solid blue; 
	width: 400px;
	height: 300px;
}